<div class="profile-page">
  <div class="profile-card">
    <img class="profile-picture" [src]="'assets/images/profile-picture.jpg'" alt="Profile Picture" />
    <h1 class="user-name">{{ user.firstName }}</h1>
    <p class="user-bio">{{ user.lastName }}</p>
    <p class="user-location">{{ user.address.city }}</p>
    <p class="user-email">{{ user.email }}</p>

    <!-- Prikaz dugmadi samo ako nije sopstveni profil -->
    <div *ngIf="!isOwnProfile">
      <button *ngIf="!isFollowingUser" (click)="follow()">Follow</button>
      <button *ngIf="isFollowingUser" (click)="unfollow()">Unfollow</button>
    </div>
  </div>
</div>
